<div class="header">
  <div class="leftHeader">

    <img routerLink="/home" src='../../assets/trolloFont.png' alt="Trollo Logo">

    <ul class="listHeader">
      <li (click)="scroll(bottom)"><a routerLink="/reference">API Docs</a></li>

      <li><a routerLink="/reference">Power-Ups</a></li>

      <li><a routerLink="/docs">Guides</a></li>

      <li><a routerLink="#">ChangeLog</a></li>
    </ul>
  </div>
  <div class="rightHeader">
    <ul class="listHeader">
      <li><a routerLink="#">Log In</a></li>
    </ul>
  </div>
</div>
