@import "../../styles.scss";

.header{
  .leftHeader{
    margin-left: 30px;
  }
  .rightHeader{
    margin-right: 30px;
  }
  font-weight: lighter;
  font-family: sans-serif;
  font-size: .7rem;
  background-color: $color-blue;
  display: flex;
  flex-flow: row;
  justify-content:space-between;
  align-items: baseline;
  padding: 10px 15px;
  img{
    width: 260px;
    height: 37px;
    // margin-top: 100px;
  }
  .listHeader{
    list-style: none;

    display: inline-flex;
    li{
      margin-left: 15px;
      margin-bottom: 15px;
      a{
        text-decoration: none;
        color: #eee;
        &:hover{
          color: lime;
        }
      }
    }

  }
}
