<div class="box">



  <div class="content">
    <br>
    <h2 class="h2">Title and things</h2><br>
    <p>some text about the title and things</p><br>
    <!-- <button type="button" name="button">Submit</button><br> -->
    <a href="#">Submit</a>
  </div>
  <div class="content">
    <br>
    <h2 class="h2">Title and things</h2><br>
    <p>some text about the title and things</p><br>
    <!-- <button type="button" name="button">Submit</button><br> -->
    <a href="#">Submit</a>
  </div>
  <div class="content">
    <br>
    <h2 class="h2">Title and things</h2>
    <br>
    <p>some text about the title and things</p>
    <br>
    <!-- <button type="button" name="button">Submit</button> -->
    <a href="#">Submit</a>
  </div>


</div>
