@import "../../styles.scss";
.box{
  justify-content: flex-end;
  align-items: flex-end;
  flex-flow: column;
  // float: right;
  .content{
    // background-color: pink;
    margin: auto;
    width: 73vw;
    text-align: center;
    // width: 100%;
    // height: 200px;
    border-bottom: 1px solid $color-grey;
    text-align: center;
    .h2{
      font-size: 1.5em;
      font-weight: bold;
    }
    a{
      background: linear-gradient(to bottom,#61bd4f 0,#5aac44 100%);
      color: #fff;
      padding-left: 1.8em;
      padding-right: 1.8em;
      border: 0;
      border-radius: .3em;
      cursor: pointer;
      display: inline-block;
      font-size: .9em;
      font-weight: 700;
      line-height: 1.2;
      margin: .3em 1em 1em 0;
      outline: 0;
      padding: .7em 1.2em;
      position: relative;
      text-decoration: none;
    }
  }
}
