<br><br><br>

<div class="form">
  <form id="contactForm"class="" action="index.html" method="post">
    <input id="email"  required class="child" type="text" name="email" value="" placeholder="Email">

    <input id="password"  required class="child" type="password" name="password" value="" placeholder="Password">

    <button required class="child" type="submit" name="signUp">Sign Up</button>
    <button class="child" (click)="login()" type="button" name="googleLogin"> Google Sign-In</button>
    <button class="child signOutButton" (click)="logout()" type="button" name="googleLogout"> Sign Out</button>
  </form>
</div>
